* {
	font-family: Verdana; 
	font-size: 14px;
	vertical-align:top;
	border-collapse:collapse;
	text-align: left;
    color: #ffffff;
}
body {
    background-color: #000000;
}

h1 {
    font-size: 15pt;
}

#header {
padding-left: 175px;
}

input[type=password],input[type=text],input[type=submit],textarea {
    background-color: #000000;
}
.page {
	margin:auto;
	width: 1200px;
}
a img {
	border: 0px;
}
#schwarz {
    color: #000000;
}
.tr_bg td {
    background-color: #C0C0C0;
}

.karte tr td {
	border-style:solid;
	border-width:1px;
}
.karte_ueber_spalte {
	width: 13px;
	vertical-align: middle;
}
.karte_ueber_zeile {
	height: 13px;
	text-align: center;
}

.karte_celle {
	height: 150px;
	width: 150px;
	text-align: center;
	vertical-align: middle;
}
.item {
	width:25px;
	height:25px;
}
.equip {
	width:75px;
	height:75px;
}
#nahrung_bar, #wasser_bar {
	min-width:70px;
	height:10px;
	float:left;	
	padding: 0px;
	margin: 0px;	
}

#exp_bar {
	min-width:1000px;
	height:5px;
	float:left;
	padding: 0px;
	margin: 0px;
}

#nahrung_bar_status, #wasser_bar_status {
	min-width:200px;
	height:5px;
	float:left;	
	padding: 0px;
	margin: 0px;	
}
#exp_bar_status {
	min-width:485px;
	height:5px;
	float:left;
	padding: 0px;
	margin: 0px;
}
#nahrung_bar .ui-progressbar-value,#nahrung_bar_status .ui-progressbar-value, .nahrung_bg {
	background-color:#ff6633;	
	background-image: url(picture/hunger.png);
}
#wasser_bar .ui-progressbar-value,#wasser_bar_status .ui-progressbar-value, .hunger_bg {
	background-color:#3366ff;
	background-image: url(picture/wasser.png);
}

#exp_bar .ui-progressbar-value,#exp_bar_status .ui-progressbar-value, .hunger_bg {
	background-color:#005544;
	background-image: url(picture/exp.png);
}
.wasser_text {
	color:#3366ff;
}
.nahrung_text {
	color:#ff6633;	
}
.sklaven_text {
    color: #666666;
}
.Goldklumpen_text {
    color: #FDD017;
}
#progressbar .ui-progressbar-value {
    background-color: green;
    background-image: url(picture/progress.png);
}
.ui-dialog {
    top: 250px !important;
    left: 285px !important;
}
.ui-widget-overlay {
    background: #5C5C5C !important;
}
.leiste {
    background-image: url('picture/leiste.jpg');
    height: 40px;
    padding-top: 10px;
}